SEPOLIA_RPC_URL=  # for non-local deployment only
PRIVATE_KEY=090737311c388a6194155337451dd2a768f09e4e4fe5378235cf6d892a36babd #one of yarn hardhat test accounts' private key
ETHERSCAN_API_KEY= # for non-local deployment only
MAINNET_RPC_URL= # for non-local deployment only
VERIFIER_PRIVATE_KEY= # for non-local deployment only


# ===== Backend Server =====
PORT=3001
HOST=0.0.0.0
NODE_ENV=development

# ===== Backend Blockchain Connection =====
NETWORK=localhost 
RPC_URL=http://127.0.0.1:8545 
CHAIN_ID=31337 
CONFIRMATIONS=1 

# ===== API Configuration =====
API_BASE_URL=http://localhost:3001
CORS_ORIGIN=*
FRONTEND_URL=http://localhost:8545

# ===== Logging =====
LOG_LEVEL=info
LOG_FORMAT=combined

# ===== Cache =====
CACHE_ENABLED=false
CACHE_TTL=60

# RESEND
RESEND_API_KEY= 
EMAIL_FROM=

# TWILLIO
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

